# Percona Server template configuration

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
[mysqld]
#large-pages

server-id = 1
autocommit = 0
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
lc-messages-dir=/usr/local/mysql/share/
character_set_server=utf8mb4
lower_case_table_names=1
#skip_name_resolve = 1
#### pool of threads setting in peronca/maraidb
thread_handling=pool-of-threads
thread_pool_size=8  #number of cpus or *2

max_connections = 800
max_connect_errors = 1000

#files
table_open_cache = 2000
table_open_cache_instances=16
back_log=200
query_cache_type=0
query_cache_size=0
innodb_open_files=2000

event_scheduler = 1

#basedir=/usr/local/mysql/
#datadir=/usr/local/mysql/data
#log-error=/usr/local/mysql/var/alert.log
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
tmp_table_size = 64M
tmpdir = /tmp
max_allowed_packet = 16M

interactive_timeout = 1800
wait_timeout = 1800
########log settings########
log_error = error.log
slow_query_log = 1
slow_query_log_file = slow.log
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 10
long_query_time = 2
min_examined_row_limit = 100
########replication settings########
master_info_repository = TABLE
relay_log_info_repository = TABLE
log_bin = bin.log
gtid_mode = on
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = row 

relay_log = relay.log
relay_log_recovery = 1
slave_skip_errors = ddl_exist_errors
########innodb settings########
innodb_page_size = 16384
innodb_buffer_pool_size = 4800M
innodb_buffer_pool_instances = 4
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lock_wait_timeout = 5
innodb_io_capacity = 2000
innodb_io_capacity_max = 4000
innodb_flush_method = O_DIRECT
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_log_group_home_dir = /var/lib/mysql/
innodb_undo_directory = /var/lib/mysql
innodb_undo_logs = 128
innodb_undo_tablespaces = 3
innodb_flush_neighbors = 0
# innodb_log_file_size = 4G #new recommend for large
innodb_log_file_size = 1024M
innodb_log_buffer_size = 16M
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_checksums=1
innodb_checksum_algorithm=crc32
innodb_thread_concurrency = 16
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
#innodb_sort_buffer_size = 8M
########semi sync replication settings########
plugin_dir=/usr/lib64/mysql/plugin
plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
#;ha_tokudb.so"
loose_rpl_semi_sync_master_enabled = 1
loose_rpl_semi_sync_slave_enabled = 1
loose_rpl_semi_sync_master_timeout = 5000
#some setting to loose when with loseless semi sync
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1

loose_innodb_numa_interleave=1 

# if in zfs or ext4
#skip-innodb_doublewrite

#if tokudb ava
#tokudb_cache_size=256M
#tokudb_commit_sync=OFF

[mysqld-5.7]
innodb_buffer_pool_dump_pct = 100
innodb_page_cleaners = 4
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
binlog_gtid_simple_recovery=1
log_timestamps=system
transaction_write_set_extraction=MURMUR32
show_compatibility_56=on
#validate_password_policy=low

performance_schema=On
# only for benchmark ?
#innodb_adaptive_hash_index=0 #bad for benchmark performance

innodb_autoinc_lock_mode = 2
innodb_stats_persistent_sample_pages = 1

#new rep defaults from http://mysqlhighavailability.com/mysql-replication-defaults-after-5-7/
# binlog_row_image = MINIMAL
binlog-rows-query-log-events = ON
log-bin-trust-function-creators = TRUE
slave-exec-mode = IDEMPOTENT
slave-parallel-type = LOGICAL_CLOCK
slave-parallel-workers = 8
slave-preserve-commit-order = ON
slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'
slave-type-conversions = ALL_NON_LOSSY
sync-master-info = 1000
sync-relay-log = 1000

