# Minimal config aligned with Percona Server RPM layout.

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
mysqlx_socket=/var/lib/mysql/mysqlx.sock
pid-file=/var/run/mysqld/mysqld.pid

!includedir /etc/my.cnf.d

[client]
socket=/var/lib/mysql/mysql.sock
